<div id="<%= dom_id guest %>">
  <div>
    <strong>First name:</strong>
    <%= guest.first_name %>
  </div>

  <div>
    <strong>Last name:</strong>
    <%= guest.last_name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= guest.email %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= guest.phone %>
  </div>

</div>
