<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.datetime_field :start_date %>
  </div>
  <br/>

  <div>
    <%= form.label :until_date, style: "display: block" %>
    <%= form.datetime_field :until_date %>
  </div>
  <br/>

  <div class="field">
    <%= form.label :guest_id, "Guest" %>
    <%= form.collection_select :guest_id, Guest.all, :id, :full_name, { prompt: "Select a guest..." }, { class: "form-control" } %>
  </div>
  <br/>

  <div class="field">
    <%= form.label :room_id, "Room" %>
    <%= form.collection_select :room_id, Room.all, :id, :room_number, { prompt: "Select a room..." }, { class: "form-control" } %>
  </div>
  <br/>

  <div>
    <%= form.submit %>
  </div>
<% end %>
