<div id="<%= dom_id reservation %>">
  <div>
    <strong>Start date:</strong>
    <%= reservation.start_date %>
  </div>

  <div>
    <strong>Until date:</strong>
    <%= reservation.until_date %>
  </div>

  <div>
    <strong>Guest:</strong>
    <%= reservation.guest_id %>
  </div>

  <div>
    <strong>Room:</strong>
    <%= reservation.room_id %>
  </div>

</div>
