<p style="color: green"><%= notice %></p>

<% content_for :title, "Reservations" %>

<h1>Reservations</h1>

<table class="table table-light table-hover table-bordered">
  <thead class="table-info">
  <tr>
    <th>Guest ID</th>
    <th>Room</th>
    <th>From</th>
    <th>Until</th>
    <th colspan="10"></th>
  </tr>
  </thead>

  <tbody>
  <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.guest_id%></td>
      <td><%= reservation.room_id%></td>
      <td><%= reservation.start_date%></td>
      <td><%= reservation.until_date%></td>
      <td><%= link_to "View", reservation %></td>
      <td><%= link_to "Edit", edit_reservation_path(reservation) %></td>
      <td><%= link_to "Delete", reservation, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br/>

<%= link_to "New reservation", new_reservation_path, class:"btn btn-success"%>
