<p style="color: green"><%= notice %></p>

<%= render @reservation %>

<div>
  <%= link_to "Edit reservation", edit_reservation_path(@reservation) %> |
  <%= link_to "Back to reservations", reservations_path %>

  <%= button_to "Delete reservation", @reservation, method: :delete %>
</div>
