<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :room_number, style: "display: block" %>
    <%= form.number_field :room_number %>
  </div>

  <div>
    <%= form.label :bed_count, style: "display: block" %>
    <%= form.number_field :bed_count %>
  </div>

<!--  <div>-->
    <%#= form.label "Available", style: "display: block" %>
    <%#= form.checkbox :is_free %>
<!--  </div>-->
  <div class="form-check">
    <%= form.radio_button :is_free, true, class: "form-check-input", id: "room_available", checked: true %>
    <label class="form-check-label" for="room_available">Available</label>
  </div>
  <div class="form-check">
    <%= form.radio_button :is_free, false, class: "form-check-input", id: "room_occupied" %>
    <label class="form-check-label" for="room_occupied">Occupied</label>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

