<p style="color: green"><%= notice %></p>

<%= render @room %>

<div>
  <%= link_to "Edit room", edit_room_path(@room) %> |
  <%= link_to "Back to rooms", rooms_path %>

  <%= button_to "Remove room", @room, method: :delete %>
</div>
